<ul>
  <div *ngFor="let quote of quotes; let i = index">
    <li style="list-style: none;">
      {{ quote.quote }} -
      <strong
        ><em>{{ quote.author }}</em></strong
      >
    </li>
    <br />
    <button (click)="toggleUser(i)" class="btn btn-outline-success"><i class="fas fa-eye"></i> Contributor</button> &nbsp;
    <button (click) = "deleteIt(i)" class="btn btn-outline-danger"><i class="fas fa-trash"></i> </button> &nbsp;
    <button (click) = "deleteIt(i)" class="btn btn-outline-dark"><i class="fas fa-heart"></i></button> &nbsp;
    <button (click) = "deleteIt(i)" class="btn btn-outline-dark"><i class="fas fa-heart-broken"></i></button>
    <br>
    <br>
    <app-details *ngIf="quote.showUser" [quote]="quote"></app-details>
    <br>
    <br>
  </div>
</ul>
